@import 'tailwindcss';
/* @import './typography.css'; */
/* @import 'tailwindcss'; */
@import 'tw-animate-css';
/* @tailwind utilities;
@layer base;
@layer components;
@layer utilities; */
/* @plugin "@tailwindcss/typography"; */
@import './typography.css' layer(utilities);

@import './animations.css';
@import '../fonts/interVariable.css';

@custom-variant dark (&:is(.dark *));
@custom-variant data-toggled (&[data-state="expanded"], &[data-state="on"], &[data-state="pressed"], &[data-state="active"], &[data-state="open"], &[aria-pressed="true"], &[aria-checked="true"]);
@custom-variant data-open (&[data-state="expanded"], &[data-state="open"]);

/* Tailwind overrides */
@theme {
  --shadow-outline: inset 0 0 0 1px var(--color-border);
  --shadow-button-highlight: var(--button-highlight-shadow);
  --shadow-glass:
    0px 0px 1.5px rgba(0, 0, 0, 0.1), 0px 0.65px 5px rgba(0, 0, 0, 0.12),
    inset 0.65px 0.65px 1px -0.65px rgba(255, 255, 255, 0.8),
    inset -0.65px -0.65px 2px -0.65px rgba(255, 255, 255, 0.4);

  --inset-shadow-pressed:
    inset 0 1px 0 -0.5px rgba(0 0 0 / 12%),
    inset 0 1.5px 2px 0 rgba(0 0 0 / 2%), inset 0 1.5px 2px 0 rgba(0 0 0 / 10%);
  --shadow-xs:
    0 1px 1px -1px rgb(0 0 0 / 0.08), 0 2px 2px -1px rgb(0 0 0 / 0.08),
    0 0 0 1px rgb(0 0 0 / 0.06);
  --shadow-sm:
    0 3px 6px -3px rgb(0 0 0 / 0.05), 0 2px 4px -2px rgb(0 0 0 / 0.05),
    0 1px 2px -1px rgb(0 0 0 / 0.05), 0 1px 2px -1px rgb(0 0 0 / 0.1),
    0 0 0.5px 0.5px var(--color-gray-50);
  --shadow-md:
    0 4px 10px -2px rgb(0 0 0 / 0.12), 0 6px 6px -3px rgb(0 0 0 / 0.06),
    0 3px 3px -1.5px rgb(0 0 0 / 0.04), 0 1px 1px -0.5px rgb(0 0 0 / 0.04),
    0 0.5px 0.5px 0 rgb(0 0 0 / 0.04), 0 0 1px 0.5px var(--color-gray-100);
  --inset-shadow-2xs:
    inset 0 2px 0px -1px rgba(0 0 0 / 5%),
    inset 2px 0px 2px -1px rgba(0 0 0 / 5%),
    inset 0px 2px 2px -1px rgba(0 0 0 / 5%),
    inset 0px 2px 2px 0px rgba(0 0 0 / 5%);
  --inset-shadow-xs:
    inset 0 2px 1px -0.5px rgba(0 0 0 / 12%),
    inset 0 0 0 0.5px rgba(0 0 0 / 12%),
    0 0 0 0.5px color-mix(in oklch, currentColor 20%, transparent),
    inset 0 4px 2px 0px rgba(0 0 0 / 5%);
  --inset-shadow-sm:
    inset 0 8px 4px -2px rgba(0 0 0 / 10%),
    inset 3px 1px 1px -1.5px rgba(0 0 0 / 5%),
    inset -3px 1px 1px -1.5px rgba(0 0 0 / 5%),
    inset 0 2px 1px 1px rgba(0 0 0 / 5%);
  --drop-shadow-button: var(--button-drop-shadow);
  --color-button-shadow: var(--button-drop-shadow);
  /* --shadow-button:
		inset 0 -1px 0 0 var(--color-border), inset 0 0 0 1px var(--color-border);
	--shadow-button-highlight: var(--shadow-button-highlight);
	--shadow-button-pressed:
		inset 0 1px 0 -0.5px rgba(0 0 0 / 12%),
		inset 0 1.5px 2px 0 rgba(0 0 0 / 2%), inset 0 1.5px 2px 0 rgba(0 0 0 / 10%);
	--shadow-button-shadow:
		inset 0px 1px 0px 0px rgb(255 255 255 / 0.4),
		0px 0px 0px 1px rgb(0 0 0 / 0.06), 0px 1px 0px 0px rgb(0 0 0 / 0.08),
		0px 2px 2px 0px rgb(0 0 0 / 0.04), 0px 3px 3px 0px rgb(0 0 0 / 0.02),
		0px 4px 4px 0px rgb(0 0 0 / 0.01); */

  /* --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);

  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05); */
  --spacing-button-lg: --spacing(10);
  --spacing-button: --spacing(8);
  --spacing-button-sm: --spacing(7);
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/* map semantic to Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* --font-mono: var(--font-mono); */

  --color-blue: var(--color-blue-800);
  --color-red: var(--color-red-800);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-border-strong: var(--border-strong); /* Custom */
  --color-border-soft: var(--border-soft); /* Custom */

  --color-destructive: var(--destructive);
  /* Custom */

  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover); /* Custom */
  --color-accent-active: var(--accent-active); /* Custom */

  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-muted-hover: var(--muted-hover); /* Custom */
  --color-muted-active: var(--muted-active); /* Custom */

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover); /* Custom */
  --color-secondary-active: var(--secondary-active); /* Custom */

  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover); /* Custom */
  --color-primary-active: var(--primary-active); /* Custom */

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-2xs: calc(var(--radius) * 0.375);
  --radius-xs: calc(var(--radius) * 0.5);
  --radius-sm: calc(var(--radius) * 0.625);
  --radius-md: calc(var(--radius) * 1);
  --radius-lg: calc(var(--radius) * 1.25);
  --radius-xl: calc(var(--radius) * 1.75);
  --radius-2xl: calc(var(--radius) * 2.75);
  --radius-3xl: calc(var(--radius) * 3.75);

  --color-info: var(--color-info); /* Custom */
  --color-warning: var(--color-warning); /* Custom */
  --color-success: var(--success); /* Custom */

  --drop-shadow-button: var(--button-drop-shadow);
  --text-shadow-button: var(--button-drop-shadow);
  --shadow-button: var(--button-shadow);
  --shadow-popover: var(--popover-shadow);
  --shadow-dropdown-item: var(--dropdown-item-shadow);
  --shadow-button-base: var(--button-base-shadow);
  --shadow-button-primary: var(--button-primary-shadow);
  --drop-shadow-danger: var(--danger-drop);
  --shadow-button-inset: var(--button-inset);
  --shadow-button-hightlight: var(--button-highlight-shadow);
  --color-invert: var(--invert);
  --color-invert-foreground: var(--invert-foreground);
  --color-popover-dark: var(--panel-dark);
  --color-hover: var(--hover);
  --color-active: var(--accent);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-active: var(--destructive-active);
}

/* Semantic */
:root {
  --font-inter-var: 'InterVariable';
  --font-sans: var(--font-inter-var), system-ui;

  --color-gray-25: oklch(97.865% 0.00181 249.239);
  --color-gray-50: oklch(97.267% 0.00181 249.229);
  --color-gray-75: oklch(97% 0.0013 264);
  --color-gray-100: oklch(12% 9.5% 264deg / 5%);
  --color-gray-200: oklch(12% 9% 264deg / 8%);
  --color-gray-300: oklch(12% 8.5% 264deg / 17%);
  --color-gray-400: oklch(12% 8% 264deg / 38%);
  --color-gray-500: oklch(12% 7.5% 264deg / 50%);
  --color-gray-600: oklch(12% 7% 264deg / 67%);
  --color-gray-700: oklch(12% 6% 264deg / 77%);
  --color-gray-800: oklch(12% 5% 264deg / 85%);
  --color-gray-900: oklch(12% 5% 264deg / 90%);
  --color-gray-950: oklch(12% 5% 264deg / 95%);

  --color-red-200: rgb(255 56 60 / 14%);
  --color-red-400: oklch(65.317% 0.23282 25.725);
  --color-red-500: oklch(59.38% 0.2332 24.663);
  --color-red: oklch(59.423% 0.23279 24.517);
  --color-red-800: oklch(50% 55% 31deg);
  --color-orange: hsla(25, 100%, 39%, 1);
  --color-yellow: hsla(40, 100%, 32%, 1);
  --color-green: hsla(142, 100%, 27%, 1);
  --color-mint: hsla(173, 100%, 26%, 1);
  --color-teal: hsla(189, 100%, 30%, 1);
  --color-cyan: hsla(197, 100%, 34%, 1);
  --color-indigo: hsla(245, 69%, 58%, 1);
  --color-purple: hsla(293, 61%, 47%, 1);
  --color-pink: hsla(343, 86%, 49%, 1);
  --color-brown: hsla(25, 30%, 45%, 1);

  --color-blue: oklch(63.207% 0.20187 254.106);
  --color-blue-500: oklch(57.161% 0.21605 260.88);
  --color-blue-600: oklch(44.964% 0.20104 264.14);

  --button-shadow:
    inset 0px 1px 0px 0px rgb(255 255 255 / 1),
    0px 0px 0px 1px rgb(0 0 0 / 0.06), 0px 1px 0px 0px rgb(0 0 0 / 0.08),
    0px 2px 2px 0px rgb(0 0 0 / 0.04), 0px 3px 3px 0px rgb(0 0 0 / 0.02),
    0px 4px 4px 0px rgb(0 0 0 / 0.01);
  --button-base-shadow:
    0px 1px 1px -1px rgb(0 0 0 / 0.08), 0px 2px 2px -1px rgb(0 0 0 / 0.08),
    0px 0px 0px 1px rgb(0 0 0 / 0.06), inset 0px 1px 0px #fff,
    inset 0px 1px 2px 1px #fff, inset 0px 1px 2px rgb(0 0 0 / 0.06);
  --button-primary-shadow:
    0px 1px 1px -1px rgb(0 0 0 / 0.08), 0px 2px 2px -1px rgb(0 0 0 / 0.08),
    0px 0px 0px 1px rgb(0 0 0 / 0.06),
    inset 0px 1px 0px rgba(255, 255, 255, 0.2),
    inset 0px 0px 2px 1px rgba(255, 255, 255, 0.1),
    inset 0px 1px 2px rgb(0 0 0 / 0.06),
    inset 0px -4px 8px -4px rgb(0 0 0 / 0.06);
  --button-inset:
    0px 0px 0px 0.5px rgb(0 0 0 / 0.12), 0px 1px 1px -1px rgb(0 0 0 / 0.32),
    0px 2px 2px -1px rgb(0 0 0 / 0.12),
    inset 0px 0.5px 0px rgb(255 255 255 / 0.4),
    inset 0px 0px 1px 0px rgb(0 0 0 / 0.2),
    inset 0px -6px 12px -4px rgb(0 0 0 / 0.12);

  --radius: 0.5rem;
  --background: #fbfcfc;
  --foreground: var(--color-gray-900);
  --card: var(--color-white);
  --card-foreground: var(--foreground);
  --popover: var(--color-white);
  --popover-foreground: var(--color-gray-800);
  --primary: var(--color-blue-500);
  --primary-foreground: var(--color-gray-50);
  --secondary: var(--color-gray-100);
  --secondary-foreground: var(--color-gray-700);
  --muted: var(--color-gray-75);
  --muted-foreground: var(--color-gray-600);
  --accent: var(--color-blue-200);
  --accent-foreground: var(--color-blue-600);
  --destructive: var(--color-red-500);
  /* Border */
  --border: var(--color-gray-200);
  --input: var(--color-gray-300);
  --ring: var(--color-blue);
  /* Chart */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  /* Sidebar */
  --sidebar: var(--muted);
  --sidebar-foreground: var(--color-gray-600);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  /* custom */

  --border-soft: var(--color-gray-100);
  --border-strong: var(--color-gray-300);
  --primary-hover: oklch(from var(--primary) calc(l - 0.05) c h);
  --primary-active: oklch(from var(--primary) calc(l - 0.1) c h);
  --secondary-hover: oklch(from var(--secondary) calc(l - 0.05) c h);
  --secondary-active: oklch(from var(--secondary) calc(l - 0.05) c h);
  --muted-hover: oklch(from var(--muted) calc(l - 0.05) c h);
  --muted-active: oklch(from var(--muted) calc(l - 0.1) c h);
  --accent-hover: oklch(from var(--accent) calc(l - 0.05) c h);
  --accent-active: oklch(from var(--accent) calc(l - 0.1) c h);
  --destructive-hover: oklch(from var(--destructive) calc(l - 0.05) c h);
  --destructive-active: oklch(from var(--destructive) calc(l - 0.1) c h);

  --button-highlight-shadow:
    inset 0 1px 0.5px 0px color-mix(in oklch, white 20%, transparent),
    inset 0 -2px 0px -1px hsl(0 0 0 / 20%),
    inset 0 0 0 1px
      color-mix(in oklch, var(--color-foreground) 20%, transparent);

  --destructive: var(--color-red);
  --ring: var(--color-blue);

  --foreground: hsla(0, 0%, 0%, 1);
  --secondary-foreground: oklch(35.926% 0.01374 285.653 / 0.8);
  --muted-foreground: hsla(240, 6%, 25%, 0.7);
  --sidebar-foreground: hsla(240, 6%, 25%, 0.7);

  --border-strong: var(--color-gray-300);
}

.dark {
  --color-red-400: #ff4245;
  --color-red-500: #ff6165;
  --color-red-800: oklch(80% 55% 31deg);
  --color-blue-400: #0091ff;
  --color-blue-500: #5cb8ff;
  --color-blue-800: oklch(69% 50% 264deg);
  --color-gray-25: oklch(18% 1% 264deg);
  --color-gray-50: oklch(19% 0.002 264);
  --color-gray-75: oklch(21.779% 2% 264deg);
  --color-gray-100: oklch(28% 3% 264deg / 65%);
  --color-gray-200: oklch(31% 3% 264deg / 80%);
  --color-gray-300: oklch(35% 3% 264deg / 80%);
  --color-gray-400: oklch(47% 3.5% 264deg / 80%);
  --color-gray-500: oklch(64% 4% 264deg / 80%);
  --color-gray-600: oklch(82% 4% 264deg / 80%);
  --color-gray-700: oklch(92% 4.5% 264deg / 80%);
  --color-gray-800: oklch(93% 3.5% 264deg / 85%);
  --color-gray-900: oklch(95% 2% 264deg / 90%);
  --color-gray-950: oklch(94% 1.5% 264deg / 95%);

  --background: var(--color-gray-25);
  --foreground: var(--color-gray-900);
  --card: var(--color-gray-50);
  --card-foreground: var(--foreground);
  --popover: var(--color-gray-75);
  --popover-foreground: var(--foreground);
  --popover-dark: var(--color-gray-700);
  --primary: var(--color-blue-800);
  --primary-foreground: var(--color-gray-50);
  --secondary: var(--color-gray-100);
  --secondary-foreground: var(--color-gray-800);
  --muted: var(--color-black);
  --muted-foreground: var(--color-gray-600);
  --accent: color-mix(in oklch, var(--color-blue-950) 80%, transparent);
  --accent-foreground: var(--color-blue-400);

  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-gray-900);
  --border: var(--color-gray-200);
  --input: var(--color-gray-400);
  --info: var(--color-blue-800);
  --warning: var(--color-amber-400);
  --ring: var(--color-blue);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: var(--color-black);
  --sidebar-foreground: var(--color-gray-600);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--color-gray-50);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--color-gray-900);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  /* custom */
  /* --primary-hover: var(--color-gray-300);
	--primary-active: var(--color-gray-400);
	--info: var(--color-blue-800);
	--warning: var(--color-amber-400);  */
  --button-shadow:
    0px -1px 0px 0px rgb(255 255 255 / 0.04),
    0px 0px 0px 1px rgb(255 255 255 / 0.12), 0px 0px 1px 0px rgb(0 0 0 / 0.04),
    0px 2px 2px 0px rgb(0 0 0 / 0.04), 0px 4px 2px 0px rgb(0 0 0 / 0.04),
    0px 6px 3px 0px rgb(0 0 0 / 0.04);
  --popover-shadow:
    0px 0px 4px rgba(0, 0, 0, 0.08), 0px 0px 10px rgba(0, 0, 0, 0.12),
    0px 0px 24px rgba(0, 0, 0, 0.16), 0px 0px 80px rgba(0, 0, 0, 0.2);
  --button-base-shadow:
    0px 0px 0px 0.5px rgb(0 0 0 / 0.4), 0px 1px 1px -1px rgb(0 0 0 / 0.12),
    0px 2px 2px -1px rgb(0 0 0 / 0.12),
    inset 0px 0.5px 0px rgb(255 255 255 / 0.06),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.16),
    inset 0px -6px 12px -4px rgb(0 0 0 / 0.16);
  /* --button-primary-shadow:
    0px 1px 1px -1px rgb(0 0 0 / 0.08), 0px 2px 2px -1px rgb(0 0 0 / 0.08),
    0px 0px 0px 1px rgb(0 0 0 / 0.06), inset 0px 1px 0px #fff,
    inset 0px 0px 2px 1px #fff, inset 0px 1px 2px rgb(0 0 0 / 0.06),
    inset 0px -4px 8px -4px rgb(0 0 0 / 0.06); */
  --inset-shadow-color: --alpha(--background / 40%);
  --button-highlight-shadow:
    0 0 0 0.5px var(--color-background),
    inset 0 1px 0px 0px --alpha(white / 7%),
    inset 0 1px 0.5px 0.5px --alpha(white / 4%),
    inset 0 -8px 16px -4px --alpha(var(--background) / 10%);
}
@layer base {
  * {
    @apply border-border outline-ring selection:bg-current/20;
  }
  body {
    @apply bg-background text-foreground;
    font-family:
      var(--font-inter-var), var(--font-inter), system-ui, sans-serif;
    scrollbar-width: thin;
    font-feature-settings: 'ss01', 'ss03', 'cv10';
    @apply after:inset-ring-border/10 relative p-px after:pointer-events-none after:fixed after:inset-0 after:z-[100] after:rounded-md after:inset-ring-2;
  }
}
@layer components {
  a,
  button {
    @apply focus-visible:outline-ring focus-visible:border-ring focus-visible:outline-2 focus-visible:outline-offset-2 disabled:cursor-not-allowed;
  }

  .link {
    @apply text-foreground font-medium underline decoration-current/40 decoration-1 underline-offset-[3px];
  }
  .lucide,
  svg[data-slot='icon'] {
    font-size: inherit;
    width: 1em;
    height: 1em;
    /* stroke: currentColor; */
    /* stroke-width: 1.5px; */
    display: inline-flex;
    vertical-align: -0.125em;
  }
  .lucide-duo {
    &,
    & > svg {
      fill: color-mix(in oklch, currentColor 20%, transparent);
    }
  }
  .lucide-filled {
    &,
    & > svg {
      fill: currentColor;
    }
  }
  /* code {
    @apply font-mono;
  } */
}

/* @layer utilities {
  .text-md {
    @apply text-base;
  }
} */

@utility line-t {
  @apply before:bg-border relative before:absolute before:top-0 before:-left-[100vw] before:h-px before:w-[200vw] dark:before:bg-white/10;
}

@utility line-b {
  @apply after:bg-border relative after:absolute after:bottom-0 after:-left-[100vw] after:h-px after:w-[200vw] dark:after:bg-white/10;
}

@utility line-y {
  @apply relative;
  @apply before:bg-border before:absolute before:top-0 before:-left-[100vw] before:h-px before:w-[200vw] dark:before:bg-white/10;
  @apply after:bg-border after:absolute after:bottom-0 after:-left-[100vw] after:h-px after:w-[200vw] dark:after:bg-white/10;
}

@utility line-t/half {
  @apply before:bg-border relative before:absolute before:top-0 before:right-0 before:h-px before:w-screen dark:before:bg-white/10;
}

@utility line-b/half {
  @apply after:bg-border relative after:absolute after:right-0 after:bottom-0 after:h-px after:w-screen dark:after:bg-white/10;
}

@utility line-y/half {
  @apply relative;
  @apply before:bg-border before:absolute before:top-0 before:right-0 before:h-px before:w-screen dark:before:bg-white/10;
  @apply after:bg-border after:absolute after:right-0 after:bottom-0 after:h-px after:w-screen dark:after:bg-white/10;
}

@utility line-x {
  @apply relative;
  @apply before:absolute before:bottom-0 before:left-0 before:h-screen before:w-px before:bg-indigo-500 dark:before:bg-white/10;
  @apply after:absolute after:right-0 after:bottom-0 after:h-screen after:w-px after:bg-red-500 dark:after:bg-white/10;
}

@utility line-middle {
  @apply relative;
  @apply before:absolute before:bottom-0 before:left-1/2 before:-mx-px before:h-screen before:w-px before:border-l before:border-dashed before:border-red-500 dark:before:bg-white/10;
  @apply after:absolute after:top-1/2 after:right-0 after:-my-px after:h-px after:w-screen after:border-t after:border-dashed after:border-red-500 dark:after:bg-white/10;
}

@utility line-l {
  @apply relative;
  @apply before:border-border before:absolute before:top-0 before:left-0 before:-mx-px before:h-screen before:border-l;
}

@utility bg-glass {
  @apply bg-gray-500 backdrop-blur-sm;
  box-shadow:
    0px 0px 1.5px rgba(0, 0, 0, 0.1),
    0px 0.65px 5px rgba(0, 0, 0, 0.12),
    inset 0.65px 0.65px 1px -0.65px rgba(255, 255, 255, 0.8),
    inset -0.65px -0.65px 2px -0.65px rgba(255, 255, 255, 0.4);
}
