/**
 *
 * Download Button
 *
**/
.Icon {
}
.IconB {
}

.DownloadButton {
	--button-height: 40px;
	height: var(--button-height);
	width: var(--button-width);
	display: inline-grid;
	place-items: center;
	overflow: hidden;
	svg {
		grid-area: 1 / 1;
		transition: var(--ease-in-out-circ) 200ms;
		transition-property: transform, opacity;
	}
	svg:first-of-type {
		opacity: 0;
		transform: translateY(calc(-1 * var(--button-height)));
	}
	&:hover {
		& > svg:first-of-type {
			transform: none;
			opacity: 1;
		}
		& > svg:nth-of-type(2) {
			transform: translateY(var(--button-height));
			opacity: 0;
		}
	}
}
