.Toast {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px 14px 13px;
  width: 100%;
  font-size: 13px;
  border-radius: var(--radius-lg);
  background: var(--popover);
  box-shadow:
    0 0 0 1px var(--border),
    var(--shadow-md);
  --gap-index: calc(var(--gap) * var(--index));
  --total-index: calc(calc(var(--index)) * -100%);

  transform-origin: bottom;
  /* animation: toastEnter 300ms ease-out; */
  /* CSS animation not interruptible */
  transition: 400ms ease;
  transition-property: transform, opacity;
  opacity: 0;
  transform: translateY(100%);
  user-select: none;
  &[data-mounted='true'] {
    transform: translateY(calc(var(--index) * (100% + var(--gap)) * -1));
    opacity: 1;
  }
}

.Title {
  font-weight: 500;
  color: var(--color-foreground);
}

.Description {
  font-weight: normal;
  line-height: 1;
  color: var(--color-muted-foreground);
}

.Toaster {
  position: relative;
  left: 50%;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  min-width: 240px;
  max-width: 100%;
  transform: translateX(-50%);
  --gap: 16px;
  isolation: isolate;
}

.Button {
  position: relative;
  display: inline-block;
  margin-top: auto;
  width: auto;
  z-index: 10;
}

.Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding: 24px; */
  height: 100%;
}

@keyframes toastEnter {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
