.wrapper {
  --diameter: 96px;
  transform-style: preserve-3d;
  position: relative;
  perspective: 500px;
  width: var(--diameter);
  margin: 0 auto;
}
.circle {
  height: var(--diameter);
  width: var(--diameter);
  position: relative;
  border-radius: 50%;
  background: #21201c;
  transform-style: preserve-3d;
  background: radial-gradient(at 25% 25%, white 0%, black 75%);
}

.orbitingCircle {
  --inset: calc(var(--diameter) / 3);
  width: var(--inset);
  height: var(--inset);
  position: absolute;
  /* inset: var(--inset); */
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background: radial-gradient(at 25% 25%, white 0%, black 75%);
  transition-property: transform, box-shadow;
  animation: linear orbit 5s infinite forwards;
  box-shadow:
    inset -8px -2px 8px 0px rgba(0, 0, 0, 0.5),
    var(--shadow-md);
}

@keyframes orbit {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg) translateZ(64px)
      rotateY(360deg);
    /* box-shadow: inset 0px 0px 0 8px red; */
  }
  33% {
    box-shadow: inset -24px 0px 16px 8px rgba(0, 0, 0, 0.75);
  }
  67% {
    box-shadow: inset -8px -8px 16px 0px rgba(255, 255, 255, 0.25);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(360deg) translateZ(64px)
      rotateY(0deg);
    /* box-shadow: inset 4px 4px 0 8px blue; */
  }
}

.coin {
  height: 56px;
  width: 56px;
  transform-style: preserve-3d;
  animation: spin 2s infinite linear;

  border-radius: 50%;

  /* animation-direction: alternate; */
  background: #f8a400;
  border: 4px solid #f8a400;
  backface-visibility: hidden;
  svg {
    /* background: #F8A400; */
    border-radius: 50%;
    transform: translateZ(2px);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(90deg) translateZ(4px) rotateY(180deg);
    border: 4px solid #f8a400;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border: 2px solid #f8a400;
    transform: rotateY(360deg) translateZ(4px) rotateY(90deg);
  }
}
