@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

/* Tailwind overrides */
@theme {
	/* --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05); */
	--shadow-md:
		rgba(0, 0, 0, 0.08) 0px 0.5rem 0.625rem -0.3125rem,
		rgba(0, 0, 0, 0.03) 0px 0.3125rem 0.3125rem -0.15625rem,
		rgba(0, 0, 0, 0.02) 0px 0.1875rem 0.1875rem -0.09375rem,
		rgba(0, 0, 0, 0.02) 0px 0.125rem 0.125rem -0.0625rem,
		rgba(0, 0, 0, 0.03) 0px 0.0625rem 0.0625rem -0.03125rem,
		rgba(0, 0, 0, 0.04) 0px 0.03125rem 0.03125rem 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 0.0625rem;
	--inset-shadow-2xs:
		inset 0 1px 0 0 rgba(0 0 0 / 4%), inset 0 0.5px 1px 0 rgba(0 0 0 / 12%);
	--inset-shadow-xs:
		inset 0 2px 1px -0.5px rgba(0 0 0 / 8%),
		inset 0 4px 2px 0px rgba(0 0 0 / 5%);
	--inset-shadow-sm:
		inset 0 8px 4px -2px rgba(0 0 0 / 10%),
		inset 3px 1px 1px -1.5px rgba(0 0 0 / 5%),
		inset -3px 1px 1px -1.5px rgba(0 0 0 / 5%),
		inset 0 2px 1px 1px rgba(0 0 0 / 5%);
	--shadow-button:
		inset 0 -1px 0 0 var(--color-border), inset 0 0 0 1px var(--color-border);
	--shadow-button-highlight: var(--shadow-button-highlight);
	--shadow-button-pressed:
		inset 0 1px 0 -0.5px rgba(0 0 0 / 12%),
		inset 0 1.5px 2px 0 rgba(0 0 0 / 2%), inset 0 1.5px 2px 0 rgba(0 0 0 / 10%);
}
/* map semantic to Tailwind */
@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-inter);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-border-strong: var(--border-strong);
	--color-destructive: var(--destructive);
	--color-destructive-secondary: var(--destructive-secondary);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-muted-hover: var(--muted-hover);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-hover: var(--secondary-hover);
	--color-secondary-active: var(--secondary-active);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-primary-active: var(--primary-active);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-border-strong: var(--border-strong);
	--color-border-soft: var(--border-soft);
	--radius-2xs: calc(var(--radius) * 0.25);
	/* 2 */
	--radius-xs: calc(var(--radius) * 0.625);
	/* 5 */
	--radius-sm: calc(var(--radius) * 0.75);
	/* 6 */
	--radius-md: calc(var(--radius) * 1);
	/* 8 */
	--radius-lg: calc(var(--radius) * 1.625);
	/* 10 */
	--radius-xl: calc(var(--radius) * 2.25);
	/* 18 */
	--shadow-ring: inset 0 0 0 1px var(--color-border);
	--el-test:
		0 -0.0625rem 0 0 var(--color-border) inset,
		0 0 0 0.0625rem rgba(0, 0, 0, 0.1) inset,
		0 0.03125rem 0 0.09375rem var(--color-background) inset;
	--el-button:
		inset 0 -1px 0 0 var(--color-border), inset 0 0 0 1px var(--color-border);
	--shadow-button-highlight:
		inset 0 -1px 0 0 var(--color-border), inset 0 0 0 1px var(--color-border),
		inset 0 1.5px 0 0.5px
			color-mix(in oklch, var(--color-background) 30%, transparent);
	--el-pressed:
		inset 0 1px 0 -0.5px rgba(0 0 0 / 12%),
		inset 0 1.5px 2px 0 rgba(0 0 0 / 2%), inset 0 1.5px 2px 0 rgba(0 0 0 / 10%);
	--color-info: var(--info);
}

/* Semantic */
:root {
	/* 8px */
	--radius: 0.5rem;
	--background: var(--color-white);
	--foreground: var(--color-zinc-700);
	--card: var(--background);
	--card-foreground: var(--foreground);
	--popover: var(--card);
	--popover-foreground: var(--foreground);
	--primary: var(--color-zinc-700);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: color-mix(in oklch, var(--color-primary) 8%, transparent);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-hover: rgba(0 0 0 / 5%);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: var(--color-red-600);
	--destructive-secondary: var(--color-red-200);
	--info: var(--color-blue-800);
	--border: rgba(0 0 0 / 10%);
	--input: oklch(0.92 0.004 286.32);
	--ring: var(--color-blue-500);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.705 0.015 286.067);

	/* custom */
	--primary-hover: var(--color-zinc-800);
	--primary-active: var(--color-zinc-900);
	--secondary-hover: color-mix(in oklch, var(--color-primary) 12%, transparent);
	--secondary-active: color-mix(
		in oklch,
		var(--color-primary) 16%,
		transparent
	);
	--border-soft: rgba(0 0 0 / 6%);
	--border-strong: rgba(0 0 0 / 18%);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.92 0.004 286.32);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
	* {
		@apply border-border outline-border outline-0 focus-visible:outline-1 focus-visible:outline-offset-2;
	}
	body {
		@apply bg-muted text-foreground;
		color-scheme: light dark;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mt-0 mb-0 leading-tight font-medium;
	}
	h1 {
		@apply text-3xl font-semibold tracking-[-0.015em];
	}
	h2 {
		@apply text-2xl tracking-[-0.01em];
	}
	h3 {
		@apply text-xl;
	}
	h4 {
		@apply text-lg;
	}
	h5 {
		@apply text-base;
	}
	h6 {
		@apply text-sm;
	}
	/* p,
	dl,
	ol,
	ul,
	pre {
		margin-top: 0.8em;
		margin-bottom: 1.2em; 
	} */
	.lucide {
		width: 1em;
		height: 1em;
	}
}
