.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: calc(var(--spacing) * 2);
	flex-direction: column;
	--scale-increment: 0.05;
	--translate-increment: -12%;
	transition-property: transform, height;
	transition-duration: 1s;
	position: fixed;
	bottom: 40px;
	width: 356px;

	&:hover {
		/* display: flex; */
		/* --scale-increment: 0; */
		/* --translate-increment: calc(-100% + var(--index) - 12px); */
		.card {
			grid-area: 1 - var(--index) / 1;
			/* opacity: 1; */
			box-shadow: var(--shadow-md);

			/* scale: calc(
				((var(--index) * var(--scale-increment))) + 1 -
					(var(--index) * var(--scale-increment))
			); */
			/* translate: 0% calc(100% + var(--translate-increment) * var(--index)); */
			transition-delay: transform calc(var(--index) * 100ms);
			transform: none;
		}
	}
}

.card {
	width: 356px;
	height: 74px;
	background: var(--card);
	border-color: var(--border);
	border-radius: var(--radius-md);
	box-shadow: var(--shadow-md);
	padding: calc(var(--spacing) * 4);
	/* transition: 0.5s ease; */
	transition:
		scale 0.2s,
		opacity 0.1s,
		transform 0s;
	transition-duration: 1s;

	transform-origin: top;
	& ~ .card:not(:last) {
		/* box-shadow: none; */
	}
}
[data-stacked='true'],
.stacked {
	grid-area: 1 / 1;
	transform: scale(calc(1 - var(--index) * (var(--scale-increment))))
		translateY(calc(var(--index) * var(--translate-increment)));
}
[data-stacked='false'] {
	grid-area: var(--index) + 1 / calc(var(--index));
	/* transform: translateY(-100%); */
}

/** Manually set transforms for each card
  .card:nth-child(1) {
    transform: scale(0.9) translateY(-24%);
  }

  .card:nth-child(2) {
    transform: scale(0.96) translateY(-12%);
  }

.card:last-child {
    transform: none;
    z-index: 1;
  } 
*/
